body{
  margin: 0px,
}
.demoForm {
	width: 500px;
	margin: auto;
}
/* .no-spinner::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
} */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#imgBox {
    background-image: url('../Images/20170818_113929.jpg');
     background-size: cover; 
    background-repeat: no-repeat;
     background-position: center center; 
    position: relative;
    top: -20px;
    bottom: 0px;
    height: 100vh;
    z-index: 1;
    
};
  
#SignUpBox {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
}; 
  #LoginBox {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
};