.demoForm {
	width: 500px;
	margin: auto;
}
/* .no-spinner::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
} */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@media screen and (min-width: 900px){
  article {
   -webkit-flex-direction: row;
    flex-direction: row;
  }
  article > * {
    -webkit-flex: 1;
    flex: 1;
  }

  article > div {
      width: 80%;
    
    -webkit-flex: 3;
    flex: 3;
  }
}

@media screen and (max-width: 1000px){
    article {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    article > div {
      width: 90%;
    
    }
}