.icons{
    font-Size: 34px;
    cursor: pointer;
    margin-Right: 4;
    color: white;
}
.icons:hover{
    color: #00bcd4;
    transition: 0.6s;
    
}
.apple{
    color: gray;
    cursor: pointer;
    font-Size: 2.2em;
    margin-Right: 4;
}
.apple:hover{
    color: #525252;
    transition: 0.6s;
}
.android{
    color: gray;
    cursor: pointer;
    font-Size: 2.2em;
    margin-Right: 4;
}
.android:hover{
    color: #4caf50;
    transition: 0.6s;
}