#imgBox {
    background-image: url('../Images/20170818_114817.jpg');
     background-size: cover; 
    background-repeat: no-repeat;
     background-position: center center; 
    position: relative;
    top: -20px;
    bottom: 0px;
    height: 100vh;
    z-index: 1;
    
};
  
#contactUs {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 2;
}; 